
 .badge-wrapper{
     position: relative;

 }

 .badge-wrapper-i{
     font-size: 3rem;
     color: var(--black-shade);
 }
 
 .badge{
     display: grid;
     place-items: center;
     position: absolute;
     color: white;
   
 }
 

 
 .btn-badge{
     background-color: var(--primary-color);
     font-size: 1.2rem;
     width:2.5rem;
     height: 2.5rem;
     padding: 4px;
     font-weight: bold;  
     top:-1.2rem;
     right:-1.4rem;
     border-radius: 50%;
     
 
 }
 
 .btn-badge-left{
     left:-1rem;
 }

 .badge-status{
     width: 1.2rem;
     height: 1.2rem;
     bottom: 8px;
     right: -1px;
     border:1px solid white;
     border-radius: 50%;
 }
 
 .status-online{
    background-color: #34d399;
 }

 .status-offline{
     background-color: var(--lynx-grey);
 }

 .status-busy{
     background-color: #ef4444;
 }
 

 .card-badge{
     background-color: var(--primary-color);
     padding: .5rem 1rem;
     border-radius: 0 5px 5px 0;
     box-shadow: 3px 1px 8px var(--black-shade);
     top:1rem;

 }

 .card-top-right-icon{
    top: 1rem;
    right:5px;
 }

 

 .card-dismiss-i{
    font-size: 1.8rem;
    color: var(--lynx-grey);
 }