@import "./styles.css";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body{
   font-family: 'Montserrat', sans-serif; 
   background-color: var(--bg-color-white);
   color:var(--black-shade)
}

.app{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    'navbar navbar navbar navbar'
    'sidebar content content content'
    'footer footer footer footer';
}



.navbar{
    grid-area: navbar;
    box-shadow: 10px 12px 12px -8px rgba(222,222,222,1);
}



/* main */



.component-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #EBE4DC;
    gap: 1rem;
}

.code-snippet{
    width: 100%;
    height: 20rem;
}

.columns-component-wrapper{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.container-width-full{
    width: 100%;
}



.content{
    grid-area:content;
    width: 90%;
}

.footer{
    grid-area: footer;
    background-color: var(--primary-color);
    color: var(--pure-white);
    padding:var(--lg-space);
    display: grid;
    place-items: center;
}

@media screen and (max-width:600px) {
    .app{
        grid-template-columns: 1fr;
        grid-template-areas:
        'navbar'
        'sidebar'
        'content'
        'footer';

    }

    .hide{
        display: none;
    }
    .content{
        width: 100%;
    }

}

@media screen and (max-width:480px) {
    html{
        font-size: 50%;
    }

    

}