@import "style-guide.css";
@import "./components/navbar/navbar.css";
@import "./components/buttons/buttons.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color-white);
    color: var(--black-shade);
}

.app{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;

}

/* main ---------------------- */

.main-content{
    text-align: center;
    width: 60%;
    margin: auto;
    flex-grow: 1;
    display: grid;
    place-items: center;
    align-content: center;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

.hero-img{
    height: 15rem;
    object-fit: contain;
}

.btn-container__home-page{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:480px) {
    html{
        font-size: 50%;
    }
    .main-content{
        width: 90%;
    }

}


