<footer style='display: none;'>
    <div class="x-small-text">
        Made by Chirag Gupta
    </div>
    <div >
        <nav>
            <ul class="footer-icons">
                <li>
                    <a href="">
                        <img class='social-icons'src="./assets/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class='social-icons'src="./assets/Github.png" alt="">
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <img class='social-icons'src="./assets/linkedin-logo.png" alt="">
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</footer>