.navbar{
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    color: var(--bg-color-white);
    flex-wrap: wrap;
    width: 100%;
    
}


.header-left {
    margin-left: 2rem;
}

.header-right{
    margin-left: auto;
    margin-right:2rem;
    
    
}

.header-right ul{
    list-style: none;
    display: flex;
    gap:2rem;
    
}

.social-icons{
    width: 2.4rem;
    cursor: pointer;
}

.mb-n-8px{
    margin-bottom: -1.3rem;
}