<header class='navbar' >
    <div class="header-left">
        <h4>Modinate UI</h4>
    </div>
    <div class="header-right">
        <nav>
            <ul>
                <li>
                    <a href="https://twitter.com/Chirag__dev">
                        <img class='social-icons mb-n-8px'src="./assets/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Hardiegogo/Modinate_UI">
                        <img class='social-icons'src="./assets/Github.png" alt="">
                    </a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/chirag-dev/">
                        <img class='social-icons'src="./assets/linkedin-logo.png" alt="">
                    </a>
                </li>
            </ul>

        </nav>
        
    </div>                                  
</header>